/* Style Root */
:root {
  --orange-color: #f15d51;
  --dark-blue-color: #00001a;
  --yellow-color: #e9aa52;
  --silver-color: #c5c6ce;
  --gray-color: #5e607a;
}

body {
  min-width: 375px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-weight: normal;
  padding-inline: 1rem;
}
main {
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

/* Navigation */
nav {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.7rem;
}

.navigation-list {
  width: 430px;
  justify-content: space-between;
}
.navigation-list li a {
  color: var(--gray-color);
}
.navigation-list li a:hover {
  color: var(--orange-color);
}
/* Hides navigation at smaller screens */
.nav-hidden {
  display: none !important;
}
/* Shows hamburger menu at small screens */
.hamburger-show {
  display: block;
}

/* Hero section */

/* Testing solution */
#hero-section {
  margin-bottom: 1.5rem;
  background: url("../images/image-web-3-mobile.jpg");
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Read more section */
#read-more-section {
  margin-bottom: 4.3rem;
}

.read-more-section h1 {
  font-size: 40px;
  font-weight: 800;
}
.read-more-section p {
  margin-block: 1.5rem;
}
.read-more-section button {
  padding: 1rem 2.1rem;
  background-color: var(--orange-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #fff;
}
.read-more-section button:hover {
  background-color: var(--dark-blue-color);
}

/* New section */
#new-section {
  background-color: var(--dark-blue-color);
  color: #fff;
  margin-bottom: 4.3rem;
  padding-inline: 1.2rem;
}

.new-section h2 {
  color: var(--yellow-color);
  font-size: 32px;
  font-weight: 800;
  padding-top: 1.2rem;
}

.new-section .text-container {
  border-bottom: 1px solid var(--gray-color);
  padding-block: 2rem;
}
.new-section .text-container h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0.8rem;
}
.new-section .text-container h3:hover {
  color: var(--yellow-color);
  cursor: pointer;
}
.new-section .text-container p {
  color: var(--silver-color);
}

/* Categories section */
#categories-section {
  margin-bottom: 4.3rem;
}

.categories-section .category {
  display: flex;
  margin-bottom: 2rem;
}

.categories-section .category > img {
  height: 130px;
}

.categories-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.4rem;
}
.categories-section .text-container span {
  color: var(--silver-color);
  font-size: 32px;
  font-weight: 800;
}
.categories-section .text-container h4 {
  color: var(--dark-blue-color);
  font-size: 18px;
  font-weight: 900;
}
.categories-section .text-container h4:hover {
  color: var(--orange-color);
  cursor: pointer;
}
.categories-section .text-container p {
  color: var(--gray-color);
}

/* Tablet and bigger */

@media screen and (min-width: 67.8rem) {
  /* Navigation */
  nav {
    padding: 5.5rem 0 3rem;
  }
  nav .navigation-list {
    display: flex !important;
  }
  /* Shows navigation at bigger screens */
  .nav-show {
    display: block !important;
  }
  /* Hides hamburger menu at bigger screens*/
  .hamburger-hide {
    display: none;
  }
  /* Main */
  main {
    max-width: 1110px;
    margin: 0 auto;
  }

  /* Grid */
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 65px;
    gap: 2rem 1.875rem;
  }
  /* Grid Items */
  #hero-section {
    grid-column: 1 / 9;
    grid-row: 1 / 5;
    background: url("../images/image-web-3-desktop.jpg");
  }
  #read-more-section {
    grid-column: 1 / 9;
    grid-row: 5 / 9;
    display: flex;
  }

  .read-more-section h1 {
    min-width: 350px;
    font-size: 56px;
    line-height: 56px;
  }
  .read-more-section p {
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
    padding-right: 1rem;
  }
  .read-more-section button {
    max-width: 185px;
  }
  .read-more-section .text-container {
    display: flex;
    flex-direction: column;
  }

  #new-section {
    grid-column: 9 / -1;
    grid-row: 1 / 8;
    display: flex;
    flex-direction: column;
  }
  #new-section .text-container {
    padding-block: 2.98rem;
  }
  #new-section .text-container:last-child {
    border-bottom: none;
  }

  #categories-section {
    grid-column: 1 / -1;
    grid-row: 8 / 10;
    display: flex;
  }
  .categories-section {
    margin-bottom: 0 !important;
    justify-content: space-between;
  }
  .categories-section .category {
    max-width: 350px;
  }
}
